body {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Temporary Working Font for now */
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.main-heading {
    margin-bottom: 2em;
}

.game-links {
    display: grid;
    height: 60vh;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    margin: 20px, 0;
}

.game-btn {
    text-decoration: none;
    background: teal;
    border: solid 2px white;
    border-radius: 3px;
    transition: .4s;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* Beginning of Modal Button Styling  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: none;
    background-color: grey;
}

.modal-content {
    background-color: grey;
    margin: 15% auto;
    border: 1px solid;
    animation-name: openmodal;
    animation-duration: 1s;
}

.modal-header h2 {
    text-align: center;
}

.modal-header {
    background-color: teal;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.modal-body {
    padding: 10px 20px;
    background-color: white;
    font-size: 20px;
    color: black;
}

.modal-body p {
    font-size: 20px;
    text-align: center;
}

.close-button {
    color: black;
    float: right;
    font-size: 40px;
}

.close-button:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

@keyframes openmodal {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}